.container {
  background-color: #f2f2f2;
}

body{
    background-color: #f2f2f2;
}

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.card-text:hover {
  overflow: visible;
}

H5{
    text-align:center;
}

.alert{
    text-align:center;
}
